.swiper {
  width: 100%;
  padding: 0 6rem 6rem;
  max-width: 112.8rem;
  pointer-events: none;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  transition: transform 0.3s;
  pointer-events: all;
}

@media (hover: hover) {
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    transform: scale(1.15);
  }
}

.swiper-button-prev {
  background-image: url(../../assets/svgs/arrowLeft.svg);
}

.swiper-button-next {
  background-image: url(../../assets/svgs/arrowRight.svg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-slide-next {
  margin-right: 6.1rem !important;
}

.swiper-slide-prev {
  transform: translateX(-6rem);
}

.swiper-pagination {
  pointer-events: all;
}

.swiper-pagination-bullet {
  background-color: #eaeaea;
}

.swiper-pagination-bullet-active {
  background-color: #9bf00b;
}

@media screen and (max-width: 1000px) {
  .swiper-slide-active {
    margin-right: 104.5rem !important;
  }
}
@media screen and (max-width: 768px) {
  .swiper {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .swiper {
    width: 100%;
    padding: 0 0 8rem;
  }
  .swiper-pagination {
    bottom: 1.8rem !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: initial !important;
    bottom: 0 !important;
  }
}
