.swiper {
  width: 100%;
  padding: 0 6rem;
  max-width: 112.8rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-slide div {
  max-width: 49.2rem;
}

.swiper-button-prev,
.swiper-button-next {
  transform: translateY(-3rem);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-prev {
  background-image: url(../../assets/svgs/arrowLeft.svg);
}

.swiper-button-next {
  background-image: url(../../assets/svgs/arrowRight.svg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-slide-next {
  margin-right: 6.1rem !important;
}
.swiper-slide-prev {
  transform: translateX(-6rem);
}
.swiper-pagination-bullet {
  background-color: #eaeaea;
}
.swiper-pagination-bullet-active {
  background-color: #9bf00b;
}

.swiper-pagination{
  display: none;
}

@media screen and (max-width: 1000px) {
  .swiper-slide-active {
    margin-right: 104.5rem !important;
  }
}
@media screen and (max-width: 768px) {
  .swiper {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .swiper {
    width: 100%;
    padding: 0 0 6rem;
  }
  .swiper-slide img {
    min-height: 30rem;
  }
  .swiper-pagination{
    display: block;
  }
}
